button,
select {
  font-size: x-large;
}

img {
  display: block;
  height: 300px;
  margin: 0 auto;
  animation-name: dropdown;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.controles {
  display: flex;
  padding: 4px;
  justify-content: center;
  gap: 16px;
  border: solid 4px green;
  margin: 16px 0px;
}

.error {
  color: red;
  font-weight: bold;
}

@keyframes dropdown {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0px);
  }
}
